/* Import Google font - Poppins */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {

    background: #fff;
    border-radius: 10px;
    /* box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12); */
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .icons {
    display: flex;
}

header .icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}

.icons span:last-child {
    margin-right: -10px;
}

header .icons span:hover {
    background: #f2f2f2;
}

header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
    color: black;
}

.calendar {
    padding: 20px;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar .days {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(50px, auto);
    height: 100%;
}

.calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
}

.calendar .weeks li {
    font-weight: 500;
    cursor: default;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    aspect-ratio: 7 / 4.2;
    width: 100%;
}

.calendar .days li:nth-child(even) {
    border-left: 1px solid #EBE9F1;
    border-top: 1px solid #EBE9F1;
}

.calendar .days li:nth-child(odd) {
    border-top: 1px solid #EBE9F1;
    border-left: 1px solid #EBE9F1;
}

.calendar .days li:nth-child(7n) {
    border-right: 1px solid #EBE9F1;
}

.calendar .days li:nth-last-child(-n+7) {
    border-bottom: 1px solid #EBE9F1;
}

.text {
    position: absolute;
    top: 5px;
    left: 15px;
    color: black;
    background: transparent;
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}

.days li::before {
    position: absolute;
    content: "";
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.days li.active::before {
    background: #f2f2f2;
}

.days li:not(.active):hover::before {
    background: #f2f2f2;
}




/* ----------------------------------------------- */



/* Modal.css */
.modal-dropdown {
    position: absolute;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transform: translateY(-100%);
    animation: slide-down-dropdown 0.3s ease-out;
    transform-origin: top;
}

@keyframes slide-down-dropdown {
    from {
        transform: translateY(-80%);
        opacity: 0;
    }

    to {
        transform: translateY(-100%);
        opacity: 1;
    }
}

.events-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
}

.event-stripe {
    display: flex;
    width: 100%;
    height: 25%;
    font-size: 0.8750em;
    padding-left: 5px;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 2px;
    pointer-events: none;
}

.event-stripe:nth-child(even) {
    background-color: #FF9F431F;
    color: #FF9F43
}

.event-stripe:nth-child(odd) {
    background-color: #7367F01F;
    color: #7367F0
}